<%= render 'layouts/nav', title: 'Log in' %>

<%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class:"text-center d-flex flex-column gap-3"} do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"p-2" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", class:"p-2", placeholder:"Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>

<div class="text-center mt-5">
  <%= render "devise/shared/links" %>
</div>
